@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
  }

  body{
    background-color: #DDDDDD;
  }

  /* navigationBar Responsiva*/
  .options, .logo{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    width: 6vh;
  }
  
  .options:hover {
    color: #ecd79b;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #658864;
    height: 8vh;
  }
  
  .navList {
    list-style: none;
    display: flex;
  }
  
  .navList li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobileMenu {
    display: none;
    cursor: pointer;
  }
  
  .mobileMenu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

  
  .navList.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobileMenu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobileMenu.active .line2 {
    opacity: 0;
  }
  
  .mobileMenu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

/* Fim navigationBar Responsiva*/


/* botões forms*/
.containerButtons {
  margin: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.addButtons{
  background-color: #536e52;
  color: #ecd79b;
  padding: 2vh;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  font-size: 16px;
}


/* Formulários */
.formContainer{
  display: none;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 60vh;
    margin-right: auto;
    margin-left: auto;
    background-color: #658864;
    border-radius: 5vh;
    border: 1vh solid #7faa7d;
}

.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 6vh; 
}

.form:first-child{
    margin-top: 2vh
}

.form label{
    display: block;
    margin-bottom: 1vh;
    font-size: 2vh;
    font-weight: bold;
    text-align: left;
    color: #413f3d;
  }
  
  .form input[type="text"],.form input[type="date"], .form select, .form input[type="number"] {
    padding: 20px;
    width: 20vw;
    margin-bottom: 2vh;
    border: 1px solid #ccc;
    border-radius: 1vh;
    font-size: 16px;
  }
  
  .form input[type="submit"] {
    background-color: #d1d1d1;
    color: #292524;
    padding: 2vh;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form input[type="submit"]:hover {
    background-color: #c3c2c2;
  }

/* Fim do Formulário */

/* Deixa o formulario não visivel ao carregar a pagina*/
#formContainer{
    display: none;
  }


/* tabela */
.tableContainer {
  align-self: center;
  width: fit-content;
  height: 70vh;
  background-color: #7faa7da8;
  display: flex;
  justify-content: center;
  align-content: center;
}


#dataTable {
  width: 80%;
  border: 2px solid black;
}

th, td {
  padding: 0.5rem;
  text-align: center;
  border: 2px solid black;
  background-color: #7faa7d;
}

th {
  background-color: #f2f2f2;
}

/* desativar sections ao entrar na página*/
#sectionPlayers, #sectionTeams, #sectionCampeonatos{
  display: none;
  flex-direction: column;
}


/* Media Query */
@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .navList {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #536e52;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .navList li {
    margin-left: 0;
    opacity: 0;
    margin-bottom: 10vh;
  }

  .navList li:first-child {
      margin-left: 0;
      opacity: 0;
      margin-bottom: 10vh;
      margin-top: 5vh;
    }

  .mobileMenu {
    display: block;
  }


  #formContainer{
      width: 48vh;
      margin-right: auto;
      margin-left: auto;
  }

  th, td {
    font-size: 2vh;
  }

  
.form:first-child{
  margin-top: 1vh
}

.form input[type="text"],.form input[type="date"], .form select, .form input[type="number"] {
  width: 30vh;
}

.containerButtons {
  flex-direction: column;   
  padding: 2vh;
  
}

.addButtons{
  margin-bottom: 2vh;
}

}

.leftSection{
  margin-left: 2.5%;
  width: 40%;
  height: 100%;
}

.rightSection{
  margin-inline: 7%;
  width: 60%;
  height: 100%;
}
.buttonContainer{
  margin-top: 1.3vw;
  margin-bottom: 2%;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.buttonCampeonato{
  background-color: #536e52;
  color: #ecd79b;
  padding: 2vh;
  padding-inline: 4vh;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  font-size: 16px;
}

#dataTableCampeonatos, #dataTableCampeonatosEquipas{
  margin-inline: auto;
  width: 100%;
}

.paisFiltro{
  margin-top: 6vh;
  margin-bottom: 1.5vh;
  width: 20%;
  font-size: 26px;
  background-color: #536e52;
  border-radius: 0.5vh;
  color: #ecd79b;
}

table {
  height: fit-content;
}

.upperSection{
  display: flex;
  flex-direction: row;
}

#campeonatoContainer{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.campeonatoDetails{
  width: 95%;
  height: 95%;
  background-color: #7faa7d;
}

.closeButtonContainer{
  display: flex;
  justify-content: end;
}

.closeButton{
  margin: 10px;
  width: fit-content;
  font-size: 30px;
  user-select: none;
  cursor: pointer;
}

.matchesContainer{
  display: flex;
  height: 90%;
  width: 85%;
  margin: auto;
}

.bracketContainer{
  position: relative;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.matchCard{
  background-color: #658864;
  border: #536e52 3px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  height: 10%;
}

.matchCard > div{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.bracketTitle{
  position: absolute;
  top: -25px
}

.simulateBracket{
  position: absolute;
  height: 80px;
  width: 300px;
  bottom: 10px;
  right: 120px;
  background-color: #536e52;
  color: #ecd79b;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  font-size: 20px;
  z-index: 2;
}

.bold{
  font-weight: bold;
}

.strikethrough{
  text-decoration: line-through
}

.tallerTable{
  height: 85vh;
}